* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #e0f2fe;
  display: flex;
}
/* USING SKY COLOUR PALETTE FROM TAILWINDCSS */
:root {
  --secondary-clr: #0284c7;
  --btn-sidebar-txt: #f0f9ff;
  --sidebar-img-height: 1.5rem;
  --sidebar-icon-colours: invert(89%) sepia(4%) saturate(921%)
    hue-rotate(189deg) brightness(105%) contrast(107%);
  --icon-height: 1.5rem;
  --primary-clr: #f0f9ff;
}

#sidebar {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 100vh;
  background-color: var(--secondary-clr);
}

#side-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1.5fr repeat(10, 1fr) 4fr;
  height: 100%;
  align-items: center;
  font-weight: bold;
}

#sidebar-heading {
  color: var(--btn-sidebar-txt);
}

a {
  text-decoration: none;
  color: var(--btn-sidebar-txt);
}

.sidebar-img {
  height: var(--sidebar-img-height);
  margin-left: auto;
  margin-right: 1.4rem;
  filter: var(--sidebar-icon-colours);
}

#logo-sidebar {
  height: 3.2rem;
  margin-left: auto;
  filter: var(--sidebar-icon-colours);
  margin-right: 0.5rem;
}

#header {
  display: grid;
  grid-template-columns: 1fr 5fr 5fr;
  grid-template-rows: 1fr 2fr;
  max-height: 20vh;
  /* width: 85vw; */
  padding-top: 1.5rem;
  background-color: var(--primary-clr);
  box-shadow: 0 4px 2px -2px #d9eefc;
}
#search-icon {
  height: var(--icon-height);
  margin: auto 1rem auto auto;
}

#search {
  border-radius: 20px;
  padding-left: 20px;
  background-color: #e0f2fe;
  border: none;
  height: 2rem;
  margin: auto 0 auto 0;
}

#notification {
  height: var(--icon-height);
  margin-right: 2rem;
}

#header-profile {
  height: 2.5rem;
}

#header-username {
  margin-left: 2rem;
  font-weight: bold;
  margin-right: 5rem;
}

.profile-picture {
  border-radius: 50%;
}

#main-profile-picture {
  height: 4.5rem;
}

#top-right-header {
  display: flex;
  align-items: center;
  justify-content: end;
}

#bottom-left-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  grid-column: 2/3;
}

#header-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1.5rem;
  padding-right: 3rem;
}

#header-buttons button {
  background-color: var(--secondary-clr);
  color: var(--btn-sidebar-txt);
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
  border-radius: 15px;
  height: fit-content;
  border: none;
}

#main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-template-rows: 0.5fr repeat(3, 2fr); */
  grid-template-rows: 2rem repeat(auto-fit, minmax(100px, 2fr));
  width: 75%;
  margin-top: 2rem;
  margin-left: 1rem;
  gap: 1rem;
  height: 90%;
}
#extra-content {
  margin-top: 2rem;
  display: grid;
  width: 18%;
  grid-template-rows: 2rem auto 2rem auto;
  gap: 1rem;
  margin-left: 1rem;
  height: 90%;
}

.main-grid-content {
  background-color: var(--primary-clr);
  border-left: 5px solid #c4b5fd;
  border-radius: 8px;
  padding-left: 1.5rem;
  padding-top: 2.5rem;
}

#main-content-heading {
  grid-column: 1/3;
  background-color: #e0f2fe;
}

.content-headings {
  display: grid;
  align-items: end;
}

#main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* just holds the content together on the right side of screen due to flow of document */
}

#content-wrapper {
  display: flex;
  flex: 1;

  /* mess around with the height to see which is best later */
  /* holds both the main and extra cards together */
}

#extra-first-card,
#extra-second-card {
  display: grid;
  background-color: var(--primary-clr);
  border-radius: 8px;
  padding-left: 10%;
  padding-top: 5%;
}

#extra-first-card div {
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

#extra-first-card p {
  font-size: 0.8rem;
  color: #94a3b8;
}

div#last-first-card-content {
  border-bottom: none;
}

#extra-second-card {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}

#extra-second-card img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  /* 2.5rem */
}

.other-usernames {
  font-size: 0.9rem;
}
.user-bio {
  color: #94a3b8;
  font-size: 0.9rem;
}
